<link href="/css/style.css" rel="stylesheet" type="text/css" />
<div class="main-container">
  <!-- <img src="/assets/eg-icon.svg" alt="Express Gateway Logo" /> -->
  <form action="/oauth2/authorize/decision" method="post" class="dialog-form">
    <input name="transaction_id" type="hidden" value="<%= transactionId %>" />
    <p>Hi <%= user.firstname %>!</p>
    <p><b><%= client.name %></b> is requesting access to your account.</p>
    <p><b>Requesting Scopes:</b> <%= scope %></p>
    <p>Do you approve?</p>
    <div>
      <input type="hidden" id="cancelField" name="cancel" value="" />
      <button type="submit" formmethod="POST" id="allow" onclick="setValue('')">Allow</button>
      <button type="submit" formmethod="POST" id="deny" onclick="setValue('1')">Cancel</button>
    </div>
  </form>
</div>


<script>
  function setValue(val){
    document.getElementById('cancelField').value = val
  }
  
  </script>
